/*
   FILTER HUE ROTATE
*/
.hue-rotate1 { -webkit-filter: hue-rotate( 45deg ); filter: hue-rotate( 45deg ); }
.hue-rotate2 { -webkit-filter: hue-rotate( 90deg ); filter: hue-rotate( 90deg ); }
.hue-rotate3 { -webkit-filter: hue-rotate( 135deg ); filter: hue-rotate( 135deg ); }
.hue-rotate4 { -webkit-filter: hue-rotate( 180deg ); filter: hue-rotate( 180deg ); }
.hue-rotate5 { -webkit-filter: hue-rotate( 225deg ); filter: hue-rotate( 225deg ); }
.hue-rotate6 { -webkit-filter: hue-rotate( 270deg ); filter: hue-rotate( 270deg ); }
.hue-rotate7 { -webkit-filter: hue-rotate( 315deg ); filter: hue-rotate( 315deg ); }
.hue-rotate8 { -webkit-filter: hue-rotate( 360deg ); filter: hue-rotate( 360deg ); }
@media screen and (min-width: 48em) {
 .hue-rotate1-ns { -webkit-filter: hue-rotate( 45deg ); filter: hue-rotate( 45deg ); }
 .hue-rotate2-ns { -webkit-filter: hue-rotate( 90deg ); filter: hue-rotate( 90deg ); }
 .hue-rotate3-ns { -webkit-filter: hue-rotate( 135deg ); filter: hue-rotate( 135deg ); }
 .hue-rotate4-ns { -webkit-filter: hue-rotate( 180deg ); filter: hue-rotate( 180deg ); }
 .hue-rotate5-ns { -webkit-filter: hue-rotate( 225deg ); filter: hue-rotate( 225deg ); }
 .hue-rotate6-ns { -webkit-filter: hue-rotate( 270deg ); filter: hue-rotate( 270deg ); }
 .hue-rotate7-ns { -webkit-filter: hue-rotate( 315deg ); filter: hue-rotate( 315deg ); }
 .hue-rotate8-ns { -webkit-filter: hue-rotate( 360deg ); filter: hue-rotate( 360deg ); }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .hue-rotate1-m { -webkit-filter: hue-rotate( 45deg ); filter: hue-rotate( 45deg ); }
 .hue-rotate2-m { -webkit-filter: hue-rotate( 90deg ); filter: hue-rotate( 90deg ); }
 .hue-rotate3-m { -webkit-filter: hue-rotate( 135deg ); filter: hue-rotate( 135deg ); }
 .hue-rotate4-m { -webkit-filter: hue-rotate( 180deg ); filter: hue-rotate( 180deg ); }
 .hue-rotate5-m { -webkit-filter: hue-rotate( 225deg ); filter: hue-rotate( 225deg ); }
 .hue-rotate6-m { -webkit-filter: hue-rotate( 270deg ); filter: hue-rotate( 270deg ); }
 .hue-rotate7-m { -webkit-filter: hue-rotate( 315deg ); filter: hue-rotate( 315deg ); }
 .hue-rotate8-m { -webkit-filter: hue-rotate( 360deg ); filter: hue-rotate( 360deg ); }
}
@media screen and (min-width: 64em) {
 .hue-rotate1-l { -webkit-filter: hue-rotate( 45deg ); filter: hue-rotate( 45deg ); }
 .hue-rotate2-l { -webkit-filter: hue-rotate( 90deg ); filter: hue-rotate( 90deg ); }
 .hue-rotate3-l { -webkit-filter: hue-rotate( 135deg ); filter: hue-rotate( 135deg ); }
 .hue-rotate4-l { -webkit-filter: hue-rotate( 180deg ); filter: hue-rotate( 180deg ); }
 .hue-rotate5-l { -webkit-filter: hue-rotate( 225deg ); filter: hue-rotate( 225deg ); }
 .hue-rotate6-l { -webkit-filter: hue-rotate( 270deg ); filter: hue-rotate( 270deg ); }
 .hue-rotate7-l { -webkit-filter: hue-rotate( 315deg ); filter: hue-rotate( 315deg ); }
 .hue-rotate8-l { -webkit-filter: hue-rotate( 360deg ); filter: hue-rotate( 360deg ); }
}

